<div class="content-fluid">
  <div class="row justify-content-center align-items-center"> <!-- Alineación vertical y horizontal del título -->
    <div class="col-12 text-center mt-3"> <!-- Agregar margen superior -->
      <h2>Rick y Morty</h2>
    </div>
    <!-- Paginación -->
    <div class="col-12 text-center">
      <div class="btn-group">
        <button class="btn btn-primary mx-3 my-3 p-2" (click)="CambiaPagina('Anterior')" style="background-color: #016A70">Anterior</button>
        <button class="btn btn-primary mx-3 my-3 p-2" (click)="CambiaPagina('Primera')" style="background-color: #016A70">Primera</button>
        <button class="btn btn-primary mx-3 my-3 p-2" (click)="CambiaPagina('Ultima')" style="background-color: #016A70">Última</button>
        <button class="btn btn-primary mx-3 my-3 p-2" (click)="CambiaPagina('Siguiente')" style="background-color: #016A70">Siguiente</button>
      </div>
    </div>
  </div>
  <div class="row justify-content-space-around">
    @for (personaje of personajesRyM.results; track personaje) {
    <div class="col-3">
      <div
        class="card"
        style="width: 18rem"
        [routerLink]="'/personajeONE/' + personaje.id"
      >
        <img
          src="{{ personaje.image }}"
          class="card-img-top"
          alt="..."
          width="200px"
        />
        <div class="card-body">
          <h5 class="card-title">{{ personaje.name }}</h5>
          <p class="card-text">{{ personaje.id }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ personaje.gender }}</li>
          <li class="list-group-item">{{ personaje.created }}</li>
          <li class="list-group-item">{{ personaje.location.name }}</li>
          <li class="list-group-item">{{ personaje.origin.name }}</li>
          <li class="list-group-item">{{ personaje.species }}</li>
          <li class="list-group-item">{{ personaje.status }}</li>
          <li class="list-group-item">{{ personaje.type }}</li>
        </ul>
      </div>
    </div>
    }
  </div>
</div>
