<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/proteina.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Proteína</h5>
                <a routerLink="/productos" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/creatina.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Creatina</h5>
                <a routerLink="/productos" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/destacado1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bote de proteinas 2k</h5>
                <a routerLink="/productos" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/destacado2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Paquete de barras proteina</h5>
                <a routerLink="/productos" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
