<!-- Descripción de la tienda -->
<br>
<br>
<div class="container-fluid d-flex justify-content-center align-items-center">
  <img src="assets/img/banner.png" style="width: 100%;  height: auto;">
</div>
<br>
<div class="container">
  <h2>Información de la tienda</h2>
  <p>
    VitalBoost es la tienda oficial del gimnasio VitalFit, 
    ubicado en el corazón de la ciudad. Nos especializamos en ofrecer una amplia gama de productos y 
    equipos de fitness de alta calidad para ayudarte a alcanzar tus objetivos de salud y bienestar. 
    Desde suplementos nutricionales hasta equipos de entrenamiento, en VitalBoost encontrarás todo 
    lo que necesitas para potenciar tu rendimiento y mejorar tu estilo de vida activo.
  </p>
  
</div>
<br>
<hr>
<!-- Productos destacados -->
<div class="container-fluid">
  <h2>Productos Destacados</h2>
  <br>
  <div class="row align-items-stretch">
    <div class="col-md-3">
      <div class="card mb-3 h-100">
        <img src="assets/img/destacado1.jpg" class="card-img-top img-fluid" alt="..." style="width: 55%; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">Producto Destacado: Oferta Bote de proteinas 2k</h5>
          <p class="card-text">¡Aprovecha nuestra oferta especial de proteínas en bote de 2kg para potenciar tus entrenamientos y recuperación muscular!</p>
          <div class="d-flex justify-content-center">
            <a routerLink="/productos" class="btn btn-primary" style="margin-top: 21px; background-color: #016A70">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3 h-100">
        <img src="assets/img/destacado2.jpg" class="card-img-top img-fluid" alt="..." style="width: 55%; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">Producto Destacado: Paquete de barras proteina</h5>
          <p class="card-text">Energía en movimiento: nuestras barras de proteína son el snack perfecto para mantener tu energía durante el día y mejorar tu rendimiento en el gimnasio.</p>
          <div class="d-flex justify-content-center">
            <a routerLink="/productos" class="btn btn-primary" style="margin-top: 24px; background-color: #016A70">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3 h-100">
        <img src="assets/img/proteina.jpg" class="card-img-top img-fluid" alt="..." style="width: 80%; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">Producto Destacado: Proteína</h5>
          <p class="card-text">Recupérate y crece: nuestra proteína en polvo ofrece una mezcla de alta calidad para apoyar la recuperación y el crecimiento muscular.</p>
          <div class="d-flex justify-content-center">
            <a routerLink="/productos" class="btn btn-primary"  style="margin-top: 49px; background-color: #016A70">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3 h-100">
        <img src="assets/img/creatina.jpg" class="card-img-top img-fluid" alt="..." style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Producto Destacado: Creatina</h5>
          <p class="card-text">Potencia tus entrenamientos: nuestra creatina micronizada aumenta tu fuerza y resistencia, llevando tus sesiones de entrenamiento al siguiente nivel.</p>
          <div class="d-flex justify-content-center">
            <a routerLink="/productos" class="btn btn-primary" style="margin-top: 49px; background-color: #016A70">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<!-- About us -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Sobre VitalBoost</h3>
      <p>
        En VitalBoost, nuestra pasión por el fitness y el bienestar impulsa todo lo que hacemos.
         Somos más que una simple tienda de gimnasio; somos tu compañero de confianza en el camino
          hacia una vida más saludable y activa. Desde nuestros inicios, nos hemos comprometido a
           ofrecer a nuestros clientes una experiencia única y enriquecedora, proporcionando productos
            de alta calidad, asesoramiento experto y un servicio excepcional.
      </p>
    </div>
    <div class="col-md-6">
      <img src="assets/img/proteinas.jpg" alt="Imagen de proteínas">
    </div>
  </div>
</div>
<br>
<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6">
        <ul class="social-links">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12 text-center"> <!-- Aquí agregamos la clase text-center -->
        <ul class="footer-links">
          <li><img src="assets/img/facebook.png" style="width: 25px;"><a href="#"> Facebook</a></li>
          <li><img src="assets/img/twitter.png" style="width: 25px;"><a href="#"> Twitter</a></li>
          <li><img src="assets/img/instagram.png" style="width: 25px;"><a href="#"> Instagram</a></li>
          <li><img src="assets/img/linkedin.png" style="width: 25px;"><a href="#"> Linkedin</a></li>
        </ul>
        <h4>VitalBoost©. Todos los derechos reservados.</h4>
      </div>
    </div>
  </div>
</footer>

