<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/pesas.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container">
  <h2>Información de la tienda</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed nibh nec neque sodales vulputate 
    sit amet at urna. Proin ac dictum ligula, nec iaculis sem. Morbi vel ante vitae leo consequat pretium. 
    Curabitur a enim dui. Vivamus et eros vulputate, porta urna at, feugiat lorem. Suspendisse non viverra 
    elit. Quisque et dignissim tortor. Vivamus orci augue, ullamcorper eget nunc quis, mollis accumsan 
    lectus. Sed congue nunc et efficitur laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et 
    ultrices posuere cubilia curae; Vestibulum facilisis aliquet vestibulum. Morbi pellentesque lectus quam,
     vestibulum eleifend odio aliquet nec.
  </p>
  <p>
    Phasellus consectetur vitae velit dictum sagittis. Curabitur commodo placerat enim ac eleifend. 
    Etiam vitae euismod lacus, vitae mattis turpis. Vivamus velit est, imperdiet ac convallis nec, vehicula 
    id orci. Vestibulum a eleifend velit. Maecenas eleifend in nisi vitae commodo. Donec nulla dui, 
    lobortis at mattis quis, dignissim ut nulla. Aliquam eu mauris vel eros consectetur volutpat vel sed 
    orci. In condimentum, quam ut hendrerit sodales, dolor arcu eleifend felis, quis eleifend lacus sapien 
    in tellus.
  </p>
</div>
<div class="container-fluid">
<div class="row justitfy-content-space-evenly">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
<div class="row justitfy-content-space-evenly">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
<div class="row justitfy-content-space-evenly">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
<div class="row justitfy-content-space-evenly">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</div>
<div class="container">
  <h2></h2>
  <div class="col">
    <h3>Sobre la tienda</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed nibh nec neque sodales vulputate 
    sit amet at urna. Proin ac dictum ligula, nec iaculis sem. Morbi vel ante vitae leo consequat pretium. 
    Curabitur a enim dui. Vivamus et eros vulputate, porta urna at, feugiat lorem. Suspendisse non viverra 
    elit. Quisque et dignissim tortor. Vivamus orci augue, ullamcorper eget nunc quis, mollis accumsan 
    lectus. Sed congue nunc et efficitur laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et 
    ultrices posuere cubilia curae; Vestibulum facilisis aliquet vestibulum. Morbi pellentesque lectus quam,
     vestibulum eleifend odio aliquet nec.
    </p>
  </div>
  <div class="col">
    <img src="">
  </div>
</div>
<footer></footer>