<!-- Descripción de la tienda -->
<div class="container">
  <h2>Información de la tienda</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed nibh nec neque sodales vulputate 
    sit amet at urna. Proin ac dictum ligula, nec iaculis sem. Morbi vel ante vitae leo consequat pretium. 
    Curabitur a enim dui. Vivamus et eros vulputate, porta urna at, feugiat lorem. Suspendisse non viverra 
    elit. Quisque et dignissim tortor. Vivamus orci augue, ullamcorper eget nunc quis, mollis accumsan 
    lectus. Sed congue nunc et efficitur laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et 
    ultrices posuere cubilia curae; Vestibulum facilisis aliquet vestibulum. Morbi pellentesque lectus quam,
     vestibulum eleifend odio aliquet nec.
  </p>
  <p>
    Phasellus consectetur vitae velit dictum sagittis. Curabitur commodo placerat enim ac eleifend. 
    Etiam vitae euismod lacus, vitae mattis turpis. Vivamus velit est, imperdiet ac convallis nec, vehicula 
    id orci. Vestibulum a eleifend velit. Maecenas eleifend in nisi vitae commodo. Donec nulla dui, 
    lobortis at mattis quis, dignissim ut nulla. Aliquam eu mauris vel eros consectetur volutpat vel sed 
    orci. In condimentum, quam ut hendrerit sodales, dolor arcu eleifend felis, quis eleifend lacus sapien 
    in tellus.
  </p>
</div>
<br>
<hr>
<!-- Productos destacados -->
<div class="container-fluid">
  <h2>Productos Destacados</h2>
  <br>
  <div class="row align-items-stretch">
    <div class="col-md-3">
      <div class="card mb-3 h-100">
        <img src="assets/img/destacado1.jpg" class="card-img-top img-fluid" alt="..." style="width: 55%; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">Producto Destacado: Oferta Bote de proteinas 2k</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" style="margin-top: 105px;">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3 h-100">
        <img src="assets/img/destacado2.jpg" class="card-img-top img-fluid" alt="..." style="width: 55%; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">Producto Destacado: Paquete de barras proteina</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" style="margin-top: 107px;">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3 h-100">
        <img src="assets/img/proteina.jpg" class="card-img-top img-fluid" alt="..." style="width: 80%; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">Producto Destacado: Proteína</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" style="margin-top: 132px;">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3 h-100">
        <img src="assets/img/creatina.jpg" class="card-img-top img-fluid" alt="..." style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Producto Destacado: Creatina</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" style="margin-top: 135px;">Comprar</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<!-- About us -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Sobre VitalBoost</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed nibh nec neque sodales vulputate 
        sit amet at urna. Proin ac dictum ligula, nec iaculis sem. Morbi vel ante vitae leo consequat 
        pretium. Curabitur a enim dui. Vivamus et eros vulputate, porta urna at, feugiat lorem. Suspendisse
        non viverra elit. Quisque et dignissim tortor. Vivamus orci augue, ullamcorper eget nunc quis,
        mollis accumsan lectus. Sed congue nunc et efficitur laoreet. Vestibulum ante ipsum primis in
        faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum facilisis aliquet vestibulum. 
        Morbi pellentesque lectus quam, vestibulum eleifend odio aliquet nec.
      </p>
    </div>
    <div class="col-md-6">
      <img src="assets/img/proteinas.jpg" alt="Imagen de proteínas">
    </div>
  </div>
</div>
<br>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>VitalBoost©. Todos los derechos reservados.</h4>
      </div>
      <div class="col-md-6">
        <ul class="social-links">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="footer-links">
          <li><img src="assets/img/facebook.png" style="width: 25px;"><a href="#"> Facebook</a></li>
          <li><img src="assets/img/twitter.png" style="width: 25px;"><a href="#"> Twitter</a></li>
          <li><img src="assets/img/instagram.png" style="width: 25px;"><a href="#"> Instagram</a></li>
          <li><img src="assets/img/linkedin.png" style="width: 25px;"><a href="#"> Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>