<div class="container">
    <div class="product">
        <h2>Batido Proteina</h2>
        <img src="ruta_de_la_imagen_del_producto_1.jpg" alt="Producto 1">
        <p>Los batidos de proteínas son una forma eficaz de ingerir proteínas de alta calidad que es, 
            además, rápida y sencilla de preparar. Es una alternativa fácil para quienes necesitan tomar
             más proteínas pero no desean aumentar también la ingesta de otros macronutrientes.</p>
        <p>Precio: $29.99</p>
    </div>
    <div class="product">
        <h2>Creatina</h2>
        <img src="ruta_de_la_imagen_del_producto_2.jpg" alt="Producto 2">
        <p>La creatina es una sustancia química que se encuentra naturalmente en el cuerpo. 
            También se encuentra en carnes rojas y mariscos. A menudo se utiliza para mejorar 
            el rendimiento del ejercicio y la masa muscular. La creatina participa en la producción 
            de energía para los músculos.</p>
        <p>Precio: $35.99</p>
    </div>
</div>